<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
      <add name="MyConn1"
           connectionString="Server=(local)\NODETEST;Database=CONT;User Id=sa;password=dopaje66;"/>
      <add name="MyConn2"
          connectionString="Server=(local)\NODETES1T;Database=testCoor1d;Integrated Security=SSPI;"/>
   </connectionStrings>
</configuration>